<ion-view title="BEM-VINDO" id="page1" style="background-color:#F6F6F6;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/I2ypcE4JQU27qm962XDq_leao.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="bEMVINDO-form5" class="list ">
            <label class="item item-input " id="bEMVINDO-input6">
                <span class="input-label">CÓDIGO:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <label>{{valores}}</label>
        <button ng-click="mostrar();" id="bEMVINDO-button9" class=" button button-dark  button-block ">SALVAR</button>
    </ion-content>
</ion-view>
