<ion-view title="CADASTRO" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cADASTRO-form2" class="list ">
            <label class="item item-input " id="cADASTRO-input1">
                <span class="input-label">Nome</span>
                <input ng-model="cadastro.nome" type="text" placeholder="">
            </label>
            <label class="item item-input " id="cADASTRO-input2">
                <span class="input-label">Endereço</span>
                <input ng-model="cadastro.endereco"  type="text" placeholder="">
            </label>
            <label class="item item-input " id="cADASTRO-input4">
                <span class="input-label">Celular</span>
                <input ng-model="cadastro.celular"  type="text" placeholder="">
            </label>
            <label class="item item-input " id="cADASTRO-input5">
                <span class="input-label">Idade</span>
                <input ng-model="cadastro.idade"  type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label " id="cADASTRO-input3">
                <span class="input-label">Data nascimento</span>
                <input ng-model="cadastro.data"  type="date" placeholder="">
            </label>
            {{cadastro}}
            <ion-checkbox ng-model="cadastro.visitante" > É visitante?</ion-checkbox>
        </form>
        <button ng-click="addPessoa(cadastro)" id="cADASTRO-button5" class=" button button-positive  button-block ">Salvar</button>
    </ion-content>
</ion-view>
