<ion-view title="Célula" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="cLula-markdown2" style="color:#000000;" class=" ">Data:
            <strong>12/05/2014</strong>
        </p>
        <form id="cLula-form4" class="list ">
            <ion-checkbox>Paulo Rodolfo Reis</ion-checkbox>
            <ion-checkbox>Fabiana Santos</ion-checkbox>
            <ion-checkbox>Ana Paula</ion-checkbox>
        </form>
        <button id="cLula-button7" class=" button button-positive  button-block ">Salvar</button>
    </ion-content>
</ion-view>